body {
    font-family: "Gabarito", sans-serif;
    background-color: #a9a9a6;
    color: #353535;
}

/* ------------------------------------   Header */

.header-container {
    margin-top: 5px;
    line-height: 2.5rem;
    max-width: 1600px;
}

#title-logo {
    font-size: 250%;
    margin-left: .5rem;
}

.title-link a {
    text-decoration: none;
    color: #353535;
}

#instructions {
    font-size: 150%;
    font-weight: 400;
    text-align: right;
    margin-top: 1rem;
    margin-right: .5rem;
}


/* ------------------------------------   Main page */

.main-container {
    max-width: 1600px;
}

#word-display {
    margin: 4vw 0;
}

#anagram {
    text-transform: uppercase;
    background-color: #fff;
    border: solid 3px #353535;
    letter-spacing: 1rem;
    font-size: 5vw;
    padding-left: 1rem;
}

#logo {
    margin-top: 5px;
    width: 20%;
}

#description {
    font-weight: 400;
    margin-top: 5px;
}

#new-game-button {
    font-size: 1.5rem;
    border: solid 3px #353535;
    border-radius: 5px;
    background-color: #ffb30f;
    margin-top: 20px;
    margin-bottom: 4vw;
}

#new-game-button a {
    text-decoration: none;
    color: #353535;
}

/* ------------------------------------   Gameplay page */


#user-input-column, #feedback-column {
    border: solid 2px #353535;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px;
}

#lives, i {
    font-size: 2rem;
    margin: 3px;
    color: red;
}

#start-end-button {
    font-size: 1.5rem;
    border: solid 3px #353535;
    border-radius: 5px;
    background-color: #ffb30f;
    margin-top: 20px;
    margin-bottom: 4vw;
}


/* ------------------------------------   Footer */

.footer-container {
    max-width: 1600px;
}

#footer-text {
    font-size: 1rem;
    text-align: right;
    margin-right: .5rem;
}

#about-link {
    text-align: left;
    margin-left: .5rem;
}

/* ------------------------------------   Media queries */

/* For mobile screens of 576px width and less */

@media screen and (max-width: 576px) {
    #title-logo, #instructions {
        text-align: center;
    }

    #title-logo {
        margin: 0;
    }

    #instructions {
        margin-right: 0;s
    }
}
