* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #a9a9a6;
    color: #353535;
    font-family: "Gabarito", sans-serif;
}

h3 {
    font-family: "Source Sans", sans-serif;
}

/* ------------------------------------ Header */

#title, #menu {
    line-height: 70px;
}

#title {
    font-size: 250%;
    float: left;
    margin-left: 30px;
}

#menu {
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 30px;
    font-size: 175%;
}

/* ------------------------------------ Main section */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 80vh;
    padding: 5% 10%;
}

#word-display {
    
}

#description {
    margin-top: 2%;
}

#description h2 {
    font-size: 200%;
}

#logo {
    margin: 1rem 0;
}

#button-container {
}

#new-game-button {
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 3px #353535;
    border-radius: 5%;
    background-color: #ffb30f;
    padding: 0.2rem 0.8rem 0.6rem 0.8rem;
}

#anagram {
    font-size: 500%;
    background-color: #fff;
    border: solid 3px #353535;
    letter-spacing: 1rem;
    text-align: center;
    padding-left: 1rem;
}
/* ------------------------------------ Footer */


footer h3 {
    text-align: right;
    margin-right: 30px;
}

#copyright {
    font-size: .75rem;
}